<div class="box">
  <article class="media">
    <figure class="image">
      <% @product.images.each do |image| %>
        <div class="column">
          <%= image_tag image.variant(resize: "100x100") %>
        </div>
        <%= link_to '刪除', destroy_image_admin_product_path(@product, image), method: :delete %>
      <% end %>
    </figure>
  </article>
</div>